click==7.1.1
cycler==0.10.0
dnspython==1.16.0
Flask==1.1.1
Flask-Script==2.0.6
itsdangerous==1.1.0
Jinja2==2.11.1
joblib==0.14.1
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.2.1
nltk==3.4.5
numpy==1.18.2
pandas==1.0.3
profanity-check==1.0.3
pymongo==3.10.1
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
scikit-learn==0.20.2
scipy==1.4.1
six==1.14.0
textblob==0.15.3
Werkzeug==1.0.0
